  .homepage {
    width: 289px;
    position: relative;
    left: 19px;
    top: 169px;
    height: auto;
    font-size: 29px;
    margin: 0 auto;
  }
  
  
  
  
  .button {
    background: #06f;
    border: 1px solid #06f;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100%;
  }
  
  .button:hover,
  .button:active {
    background-color: initial;
    background-position: 0 0;
    color: #06f;
  }
  
   .button:active {
    opacity: .5;
  }

  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }